$colore-principale: #89c5cc;
$colore-secondario: #69a1ac;
$colore-successo: #a2e88b;
$colore-errore: #f26d6d;
$colore-sfondo-riquadro: #f4f2f2;
$colore-arancione-trasparente: #ff9b2133;
$colore-grigio: #c5cfd6;
