@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$colore-principale: #89c5cc;
$colore-secondario: #69a1ac;
$colore-successo: #a2e88b;
$colore-sfondo-riquadro: #f4f2f2;
$colore-grigio: #c5cfd6;

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.pulsante {
  font-size: 18px;
  padding: 15px;
  border-radius: 40px;
  color: white;
  background-color: $colore-secondario;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: lighten($colore-principale, 5%);
  }
}

html {
  background-color: white;
  font-size: 18px;
  font-family: "Fira Sans";
  .App {
    display: flex;
    flex-flow: column;
    height: 100vh;
    .topBar {
      top: 0px;
      display: flex;
      flex-flow: row nowrap;
      height: 60px;
      align-items: center;
      justify-content: space-between;

      padding: 10px 15px;
      box-sizing: content-box;

      .infoContratto {
        color: white;
        border-radius: 20px;
        background-color: $colore-secondario;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 20px;
          justify-self: self-end;
        }
      }
      .infoLogin {
        max-width: 200px;
        display: flex;
        align-items: center;
        color: white;
        justify-content: flex-end;
        .nomeOperatore {
          padding: 10px;
          text-align: right;
        }
        &:hover {
          cursor: pointer;
          background-color: lighten($colore-principale, 5%);
        }
      }
    }

    .main {
      position: relative;
      flex: 1;
      background: url("./asset/sfondo.svg") no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
      padding-top: 60px;
      .riepilogoContratto {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .titoloContratto {
          font-weight: bold;
          font-size: 36px;
          color: $colore-secondario;
        }
        .riepilogoOre {
          width: 100%;
          margin: 24px 0;
          display: flex;
          flex-flow: column;
          align-items: center;
          .etichettaTotale {
            font-size: 18px;
            color: $colore-principale;
          }
          .totaleOre {
            line-height: 40px;
            font-size: 24px;
            color: $colore-secondario;
            font-weight: bold;
          }
        }
        .resocontoOre {
          font-size: 18px;
          color: $colore-successo;
        }
      }

      .situazioneTimbratura {
        height: 200px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        border-radius: 20px;
        background-color: $colore-sfondo-riquadro;
        width: 90%;
        max-width: 400px;
        .etichettaSituazione {
          color: $colore-principale;
          font-size: 18px;
        }
        .tempoLavoroInCorso {
          font-weight: bold;
          color: $colore-principale;
          font-size: 24px;
          line-height: 40px;
        }
      }
    }

    .loginPage {
      height: 100%;
      width: 100%;

      .contenitoreLogin {
        max-width: 600px;
        margin: 0px auto;
        height: 100%;
        display: flex;
        flex-direction: column;

        h1 {
          color: $colore-secondario;
          padding: 1rem 2rem;
          box-sizing: border-box;
          text-align: center;
        }

        .formLogin {
          background: url("./asset/sfondo_login.svg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          flex: 1;
          width: 100%;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          .rigaForm {
            display: flex;
            flex-direction: column;
            margin: 0.5rem auto;
            align-items: center;
            label {
              color: $colore-secondario;
              font-size: 18px;
            }
            input {
              transition: box-shadow 0.3s;
              font-size: 18px;
              font-weight: 800;
              color: $colore-secondario;
              border-radius: 20px;
              margin: 0.75rem;
              padding: 0.75rem;
              border: none;
              text-align: center;
              &:focus {
                box-shadow: 0 0 1rem $colore-principale;
                outline: none;
              }
            }
          }
          .submitForm {
            margin: 20px 0;
            background-color: $colore-principale;
            color: white;
            padding: 0.75rem 2rem;
            border: none;
            border-radius: 20px;
            font-size: 18px;
            &:hover {
              background-color: lighten($colore-principale, 5%);
              cursor: pointer;
            }
          }

          .messaggioForm {
            color: red;
            padding: 0.5rem 1rem;
            text-align: center;
            height: 5%;
          }

          .linkForm {
            width: 100%;
            box-sizing: border-box;
            padding: 0.5rem 2rem;
            text-align: right;
            color: $colore-secondario;
            &:hover {
              color: $colore-principale;
              text-decoration: underline;
            }
          }
        }
        .footer {
          height: 100px;
          .nomeApp {
            text-align: center;
            color: $colore-principale;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 30px;
            margin: 0.24rem 1rem;
          }
          .descrizioneApp {
            text-align: center;
            color: $colore-grigio;
            line-height: 30px;
            margin: 0.25rem 1rem;
          }
        }
      }
    }
  }
}
