@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$colore-principale: #89c5cc;
$colore-secondario: #69a1ac;
$colore-successo: #a2e88b;
$colore-errore: #f26d6d;
$colore-sfondo-riquadro: #f4f2f2;
$colore-arancione-trasparente: #ff9b2133;
$colore-grigio: #c5cfd6;

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.pulsante {
  font-size: 18px;
  padding: 15px;
  border-radius: 40px;
  color: white;
  background-color: $colore-secondario;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: lighten($colore-principale, 5%);
  }
}

html {
  background-color: $colore-principale;
  font-size: 18px;
  font-family: "Fira Sans";
  .App {
    display: flex;
    flex-flow: column;
    height: 100vh;
    .topBar {
      top: 0px;
      display: flex;
      flex-flow: row nowrap;
      height: 60px;
      align-items: center;
      justify-content: space-between;

      padding: 10px 15px;
      box-sizing: content-box;

      .infoContratto {
        color: white;
        border-radius: 20px;
        background-color: $colore-secondario;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 20px;
          justify-self: self-end;
        }
      }
      .infoLogin {
        display: flex;
        align-items: center;
        color: white;
        justify-content: flex-end;
        border-radius: 20px;
        padding: 3px 5px;
        .nomeOperatore {
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 10px;
          text-align: right;
        }
        &:hover {
          cursor: pointer;
          background-color: lighten($colore-principale, 5%);
        }
      }
    }

    .main {
      position: relative;
      flex: 1;
      background: url("./asset/sfondo.svg") no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
      padding-top: 60px;
      .riepilogoContratto {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .titoloContratto {
          font-weight: bold;
          font-size: 36px;
          color: $colore-secondario;
        }
        .riepilogoOre {
          width: 100%;
          margin: 24px 0;
          display: flex;
          flex-flow: column;
          align-items: center;
          .etichettaTotale {
            font-size: 18px;
            color: $colore-principale;
          }
          .totaleOre {
            line-height: 40px;
            font-size: 24px;
            color: $colore-secondario;
            font-weight: bold;
          }
        }
        .resocontoOre {
          font-size: 18px;
          color: $colore-successo;
        }
      }

      .situazioneTimbratura {
        height: 200px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        border-radius: 20px;
        background-color: $colore-sfondo-riquadro;
        width: 90%;
        max-width: 400px;
        .etichettaSituazione {
          color: $colore-principale;
          font-size: 18px;
        }
        .tempoLavoroInCorso {
          font-weight: bold;
          color: $colore-principale;
          font-size: 24px;
          line-height: 40px;
        }
      }
    }

    .splashscreen {
      height: 100%;
      width: 100%;
      background: white;
      display: flex;
      flex-direction: column;

      .immagineSplashscreen {
        flex: 1;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 75%;
          height: auto;
        }
      }

      .loader {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .footer {
        width: 100%;
        height: 80px;
        .nomeApp {
          text-align: center;
          color: $colore-principale;
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 30px;
          margin: 0.24rem 1rem;
        }
        .descrizioneApp {
          text-align: center;
          color: $colore-grigio;
          line-height: 30px;
          margin: 0.25rem 1rem;
        }
      }
    }

    .loginPage,
    .registerPage {
      height: 100%;
      width: 100%;
      background: white;
      background-size: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: url("./asset/sfondo_login.svg") white;
      background-size: 100% 100%;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;

      .contenitoreLogin,
      .contenitoreRegister {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        h1 {
          color: $colore-secondario;
          padding: 0 2rem;
          box-sizing: border-box;
          text-align: center;
          height: 100px;
          align-items: center;
          display: flex;
        }
        form {
          width: 465px;
          height: 465px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          border-radius: 50%;
          background: $colore-arancione-trasparente;

          .rigaForm {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            label {
              color: $colore-secondario;
              font-size: 18px;
            }
            input {
              transition: box-shadow 0.3s;
              font-size: 18px;
              font-weight: 800;
              color: $colore-secondario;
              border-radius: 20px;
              margin-bottom: 0.5rem;
              margin-top: 0.4rem;
              padding: 0.6rem;
              border: none;
              text-align: center;
              &:focus {
                box-shadow: 0 0 1rem $colore-principale;
                outline: none;
              }
            }
          }
          .submitForm {
            margin: 0.6rem auto;
            background-color: $colore-secondario;
            color: white;
            padding: 0.75rem 2rem;
            border: none;
            border-radius: 20px;
            font-size: 18px;
            outline: none;
            &:hover {
              background-color: lighten($colore-principale, 5%);
              cursor: pointer;
            }
          }
          .linkForm {
            width: 100%;
            box-sizing: border-box;
            margin: 0.25rem 2rem;
            text-align: center;
            color: $colore-secondario;
            height: 40px;
            line-height: 40px;
            &:hover {
              color: $colore-principale;
              text-decoration: underline;
            }
          }
        }

        .messaggioForm {
          padding: 0.5rem 1rem;
          text-align: center;
          height: 30px;
          line-height: 30px;
          font-weight: bold;
          &.successMessage {
            color: $colore-successo;
          }
          &.errorMessage {
            color: $colore-errore;
          }
        }
      }
      .footer {
        padding-bottom: 10px;
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        .nomeApp {
          text-align: center;
          color: $colore-principale;
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 30px;
          margin: 0.24rem 1rem;
        }
        .descrizioneApp {
          text-align: center;
          color: $colore-grigio;
          line-height: 30px;
          margin: 0.25rem 1rem;
        }
      }
    }
  }
}
